@model Employee

<h1 class="alert alert-warning text-center">
    Are you sure you want to delete this Employee?
</h1>
<dl class="row">
    <dt class="col-2">Id</dt>
    <dd class="col-10">@Model.Id</dd>

    <dt class="col-2">Full Name</dt>
    <dd class="col-10">@Model.FullName</dd>

    <dt class="col-2">Position</dt>
    <dd class="col-10">@Model.Position</dd>

    <dt class="col-2">Salary</dt>
    <dd class="col-10">@Model.Salary</dd>

    <dt class="col-2">Birth Date</dt>
    <dd class="col-10">@Model.BirthDate.ToShortDateString()</dd>

    <dt class="col-2">Hiring Date and Time</dt>
    <dd class="col-10">@Model.HiringDateAndTime</dd>
</dl>

<div class="row">
    <form class = "col-4" method="post" asp-controller="Employees" asp-action="DeleteCurrent">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger col-12">Delete</button>
        <a asp-controller="Employees" asp-action="GetIndexView" class="btn btn-primary col-12 mt-1 fw-bold">Back to List</a>
    </form>
</div>
<a asp-controller="Employees" asp-action="GetIndexView">Back To List</a>

@* //Shahd Ashraf Abu El enein Hassan
//Field of Study: Computer Science
//Major:Software Engineering
//Uni: Helwan University
//Level: 4
 *@